@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* Base Styles */
*,
body {
  box-sizing: border-box;
}
body {
  background-color: lightblue;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
 display:none;
}
div.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.Main > h1,
div.main > h2,
div.main > p {
  text-align: center;
}

div.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

section.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 500;
  margin: 0.6rem;
}

nav,
nav > li,
nav > li > a {
  display: flex;
  background-color: darkslategrey;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
  text-decoration-line: none;
  list-style-type: none;
  width: 100%;
}
/* nav hover stying */
nav>li>a:hover{
  transition: 300ms;
  color:darkred;
}

/* Styling for table on Learning page */
table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 2;
  border: 1rem solid slategrey;
  background-color: darkslategrey;
}
tbody {
  color: beige;
}
tbody > tr > td {
  border: 8px solid lightskyblue;
}

/* Resources Page Styles */

ul.resources,
ul.resources > li > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration-line: none;

  color: darkslategray;
}
ul.resources > img {
  max-width: 50vw;
}
ul.resources > img:hover {
  opacity: 10%;
  transition: 300ms;
}
ul.resources > li > a:hover {
  color: floralwhite;
}

/* Index styling */
form.htmlQuest {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
img.javaScriptClass{
    width:10vw;
}
